@use "../helpers/" as *;

.reviews {
    @include background-gradient("/images/story-bg.jpg");

    &__inner {
        position: relative;
        padding-block: fluid(40, 20) fluid(69, 34);
    }

    &__quotes {
        position: absolute;
        display: block;
        font-family: var(--font-family-accent);
        font-size: rem(100);
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;

        @include abs-x;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: fluid(90, 70);
        row-gap: fluid(39, 20);
    }

    &__carousel {
        display: flex;
        align-items: center;

        &-item {
            display: flex;
            flex-direction: column;
            position: relative;
            row-gap: fluid(44, 22);

            &:not(.is-active) {
                @include hide;
            }
        }
    }

    &__review-wrapper {
        display: flex;
        align-items: center;
        animation: emersion 0.7s;
    }

    &__text {
        text-align: center;
        font-family: var(--font-family-accent);
        max-width: rem(775);
        font-size: rem(16);
        letter-spacing: 0.03em;
    }

    &__author {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(1);

        &-position {
            font-weight: 300;
            font-size: rem(13);
            text-transform: uppercase;
        }
    }

    &__controls {
        &-list {
            display: flex;
            align-items: center;
            column-gap: rem(13);
        }

        &-item {
            cursor: pointer;
            @include square(46px);
        }

        &-image {
            border-radius: 50%;
            @include square(100%);
        }

        .is-active {
            @include square(70px);
        }
    }
}

@keyframes emersion {
    0% {
        opacity: 0;
        translate: 8%;
    }
    20% {
        translate: -6%;
    }
    40% {
        translate: 4.5%;
    }
    60% {
        translate: -3.25%;
    }
    80% {
        translate: 2%;
    }
    90% {
        translate: -1%;
    }
    100% {
        opacity: 1;
        translate: 0;
    }
}
