@use "../helpers/" as *;

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  text-align: center;
  padding-block: fluid(195, 97);

  @include background-gradient("/images/welcome-bg.jpg");

  &__inner {
    display: flex;
    min-height: rem(242);
    flex-direction: column;
  }

  &__title {
    margin-bottom: rem(40);
  }

  &__description {
    max-width: rem(780);
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: rem(52);

    @include mobile {
      margin-bottom: rem(28);
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20);

    @include mobile-s {
      flex-direction: column;

      .link {
        width: 80%;
      }
    }
  }
}
